/* PALETA DE COLORES */
/* #8ECAE6
#219EBC
#023047
#FFB703
#FB8500 */

/* ELEMENTOS */

body {
  background-color: #FFB703 ;
}

h2 {
  text-align: center;
  text-shadow: 5px 5px 5px #FB8500, 5px 5px 5px #FFB703;
  font-weight: lighter;
  color: #023047;

}

th, td {
  border: 1px solid #023047;
  border-collapse: collapse;
}

table {
  width: 100%;
  text-align: center;
  overflow-x: auto;
}

/* CLASES */

.descargar {
  display: flex;
  justify-content: center;
}

.contenedorAnimacion {
  width: 80%;
  overflow-x: auto;
  margin: auto; 
}

.contenedorAnimacion table tr td {
  overflow-x: auto; 
  width: 100%;
  /* border-collapse: collapse; */
  background-color: #FB8500 ;

}

/* PSEUDOCLASES */

/* IDs */

#ingresos, #salidas {
  color: #023047;
  width: 80%;
  margin: auto;
}

#simulateOrReset {
  display: flex;
  justify-content: center;
}

#startSimulation, #resetForm, #botonDescargaResultados {
  background-color: #023047;
  color: #FFB703;
  width: fit-content;
}

#descargar {
  display: flex;
  justify-content: center;
}